* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

.hero .greenbth {
    --bs-btn-hover-border-color: #0ecfa5;
    --bs-btn-border-width: 2px;
    --bs-btn-hover-color: #0ecfa5;
    /* --bs-btn-hover-bg: #0ecfa5; */
}

body nav {
    background-color: rgba(61, 61, 61, 0.384);
    backdrop-filter: blur(7px)
    /*min-height: 80px;*/
}

.navbar {
    --bs-navbar-padding-y: 1.33rem!important;
}

.navul {
    width: 100%;
    justify-content: end;
}

.navul li{
    list-style: none;
}

.hero img {
    animation: bounce 2s infinite;
}

input:focus-visible {
    outline: none;
}

input {
    margin-bottom: 20px;
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    border: solid 0.5px rgb(160, 160, 160);
}

.form-group {
    height: 90px;
    display: flex;
    flex-flow: column;
}

#name-error {
    color: red;
    font-weight: 100;
}

.error-message {
    font-size: 15px;
    color: red;
    position: relative;
    bottom: 20px;
    font-weight: 100;
}

.success-message {
    font-size: 15px;
    color: rgb(28, 197, 70);
    position: relative;
    bottom: 20px;
    font-weight: 100;
}

.invalid {
    border: solid 0.5px rgba(255, 0, 0, 0.555) !important;
    /*outline: rgba(255, 0, 0, 0.658) solid .5px;*/
    background-color: rgba(255, 173, 173, 0.11);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
@media (min-width: 992px) {
    /* Large screens (wider than 992px) */
    .navul li {
        margin-left: 40px;
    }
}

.navul li a {
    text-decoration: none;
    /*color: white;*/
}

.plpr-40 {
    padding-left: 30px;
    padding-right: 30px;
}

footer {
    color: white;
    background-color: #019474;
    /* background-color: #02ad88; */
    /* height: 200px; */
    display: flex;
    align-items: center;
    list-style: none !important;
}

footer ul.ftco-footer-social li {
    list-style: none !important;
    padding-left: 50px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer li i{
    font-size: 23px;
}

.icon {
    background-color: rgba(0, 0, 0, 0.322);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.colorc {
    background-color: #147e67;
}
.con-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    /* Large screens (wider than 992px) */
    .plpr-40 {
        padding-left: 0px;
        padding-right: 0px;
    }

}