<footer>
    <div class="container-md ">
        <div class="row mb-3 pb-3 no-gutters colorc">
            <div class="col-md-4 mb-md-0 mb-4 d-flex">
                <div class="con con-1 w-100 py-5">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="text">
                            <span>(+00) 1234 5678</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4 d-flex">
                <div class="con con-2 w-100 py-5">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="text">
                            <span>info@email.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4 d-flex">
                <div class="con con-3 w-100 py-5">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="text">
                            <span>203 Fake St. Mountain View, San Francisco, California, USA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">About</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="d-block">Out story</a></li>
                            <li><a href="#" class="d-block">Awards</a></li>
                            <li><a href="#" class="d-block">Our Team</a></li>
                            <li><a href="#" class="d-block">Career</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">Company</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="d-block">Our services</a></li>
                            <li><a href="#" class="d-block">Clients</a></li>
                            <li><a href="#" class="d-block">Contact</a></li>
                            <li><a href="#" class="d-block">Press</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">Resources</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="d-block">Blog</a></li>
                            <li><a href="#" class="d-block">Newsletter</a></li>
                            <li><a href="#" class="d-block">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 pt-4 border-top">
            <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
                <p class="copyright mb-0">

                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved. | ezKey

                </p>
            </div>
            <div class="col-md-6 col-lg-4 text-md-right">
                <ul class="d-flex ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Instagram"><i class="fa-brands fa-instagram"></i></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>