<!DOCTYPE html>
<html>

<%- include('head.ejs', { cssfile: 'index.css', title: 'Welcome to ezKey'}) %>

    <body>
        <%- include('nav.ejs') %>
            <main>
                <div class="hero">
                    <div class="m-auto container-lg row d-flex align-items-lg-center justify-content-center">
                        <div class="col-xl-6 col-lg-6 col-md-10">
                            <div class="info">
                                <h1 class="story">Welcome to ezKey - Simplifying Visitor Access for Gated
                                    Communities<br>
                                    <span>your
                                        security is our
                                        priority.</span>
                                </h1>
                                <div class="btnparent">
                                    <button onclick="window.location.href = '/login'" type="button"
                                        class="btn greenbth">Login</button>
                                    <button onclick="window.location.href = '/signup'" type="button"
                                        class="btn greenbth">Signup</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xg-6 col-lg-6">
                            <img class="" src="/img/2.png">
                        </div>
                    </div>
                </div>
                <div class="about container-md">
                    <h2>About ezKey</h2>
                    <p>At ezKey, we believe in enhancing security and convenience for gated communities. Our innovative
                        app
                        is designed to simplify and streamline the process of managing visitor access, making it easier
                        for
                        community dwellers to grant access to their guests while maintaining a secure environment.</p>
                </div>
                <div class="keyfeatures">
                    <h2 class="container-md m-auto">Key Features</h2>
                    <div class="container-md m-auto row g-3 row-cols-1 row-cols-lg-3">
                        <div class="features col">
                            <div class="p-4">
                                <i class="fa-solid fa-paper-plane"></i>
                                <h4>Generate Temporary Access Codes</h4>
                                <p>Dwellers can easily generate time-bound access codes for visitors, ensuring maximum
                                    security.</p>
                            </div>
                        </div>
                        <div class="features col">
                            <div class="p-4">
                                <i class="fa-solid fa-shield"></i>
                                <h4>Enhanced Security</h4>
                                <p>We prioritize your safety. ezKey employs robust encryption and authentication
                                    protocols to
                                    protect your community's security.</p>
                            </div>
                        </div>
                        <div class="features col">
                            <div class="p-4">
                                <i class="fa-solid fa-envelope"></i>
                                <h4>Real-time Notifications</h4>
                                <p>Receive instant notifications when your visitors arrive and access the community,
                                    giving you
                                    peace of mind and the ability to keep track of who's entering.</p>
                            </div>
                        </div>
                        <div class="features col">
                            <div class="p-4">
                                <i class="fa-solid fa-circle-info"></i>
                                <h4>Visitor Logs</h4>
                                <p>Access detailed visitor logs, allowing you to review who has entered your community
                                    and when.
                                    Keep track of past visits for added security.</p>
                            </div>
                        </div>
                        <div class="features col">
                            <div class="p-4">
                                <i class="fa-solid fa-user-group"></i>
                                <h4>User-Friendly Interface</h4>
                                <p>Our app is designed to be intuitive and easy to use. With just a few taps, you can
                                    grant
                                    access to your visitors and customize access parameters.</p>
                            </div>
                        </div>
                        <div class="features col">
                            <div class="p-4">
                                <i class="fa-solid fa-people-group"></i>
                                <h4>Community Directory</h4>
                                <p>Access a directory of community dwellers, making it simple to send access requests to
                                    your
                                    neighbors.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="section-medium section-arrow--bottom-center section-arrow-primary-color bg-primary">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-white text-center">
                                <h2 class="section-title "> What Others Say About Us</h2>
                                <p class="section-sub-title">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis aperiam eius nam
                                    ipsam labore unde maxime, repudiandae officiis, voluptate veniam recusandae ratione
                                    natus excepturi aut officia repellendus dolorem consequatur fugiat. Aut repudiandae,
                                    esse non voluptatibus aliquam corrupti soluta, vitae voluptate quasi excepturi eius
                                    perspiciatis et voluptas mollitia voluptates reprehenderit!
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-primary t-bordered">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-lg-3 testimonial-three testimonial-three--col-three">
                            <div class="col testimonial-three-col">
                                <div class="testimonial-inner">
                                    <div class="testimonial-image" itemprop="image">
                                        <img width="180" height="180"
                                            src="https://images.unsplash.com/photo-1521119989659-a83eee488004?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fHBlb3BsZXxlbnwwfDF8MHx8fDI%3D">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>
                                            Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                            nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                                            vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                        </p>
                                    </div>
                                    <div class="testimonial-meta">
                                        <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                                        <span class="testimonial-job-title" itemprop="jobTitle">Resident</span> – <a
                                            class="testimonial-link" href="#">More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col testimonial-three-col">
                                <div class="testimonial-inner">
                                    <div class="testimonial-image" itemprop="image">
                                        <img width="180" height="180"
                                            src="https://images.unsplash.com/photo-1506277886164-e25aa3f4ef7f?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fHBlb3BsZXxlbnwwfDF8MHx8fDI%3D">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>
                                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                                            dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                        </p>
                                    </div>

                                    <div class="testimonial-meta">
                                        <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                                        <span class="testimonial-job-title" itemprop="jobTitle">Resident</span> – <a
                                            class="testimonial-link" href="#">More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col testimonial-three-col">
                                <div class="testimonial-inner">
                                    <div class="testimonial-image" itemprop="image">
                                        <img width="180" height="180"
                                            src="https://images.unsplash.com/photo-1523824921871-d6f1a15151f1?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHBlb3BsZXxlbnwwfDF8MHx8fDI%3D">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>
                                            Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                            nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                                            vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                        </p>
                                    </div>
                                    <div class="testimonial-meta">
                                        <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                                        <span class="testimonial-job-title" itemprop="jobTitle">Resident</span> – <a
                                            class="testimonial-link" href="#">More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col testimonial-three-col">
                                <div class="testimonial-inner">
                                    <div class="testimonial-image" itemprop="image">
                                        <img width="180" height="180"
                                            src="https://images.unsplash.com/photo-1589156288859-f0cb0d82b065?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fHBlb3BsZXxlbnwwfDF8MHx8fDI%3D">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>
                                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                                            dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                        </p>
                                    </div>

                                    <div class="testimonial-meta">
                                        <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                                        <span class="testimonial-job-title" itemprop="jobTitle">Resident</span> – <a
                                            class="testimonial-link" href="#">More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col testimonial-three-col">
                                <div class="testimonial-inner">
                                    <div class="testimonial-image" itemprop="image">
                                        <img width="180" height="180"
                                            src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fHBlb3BsZXxlbnwwfDF8MHx8fDI%3D">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>
                                            Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                            nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                                            vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                        </p>
                                    </div>
                                    <div class="testimonial-meta">
                                        <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                                        <span class="testimonial-job-title" itemprop="jobTitle">Resident</span> – <a
                                            class="testimonial-link" href="#">More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col testimonial-three-col">
                                <div class="testimonial-inner">
                                    <div class="testimonial-image" itemprop="image">
                                        <img width="180" height="180"
                                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVvcGxlfGVufDB8MXwwfHx8Mg%3D%3D">
                                    </div>

                                    <div class="testimonial-content">
                                        <p>
                                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                                            dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                        </p>
                                    </div>

                                    <div class="testimonial-meta">
                                        <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                                        <span class="testimonial-job-title" itemprop="jobTitle">Resident</span> – <a
                                            class="testimonial-link" href="#">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- <div class="howitworks container-md ">
                    <h2>How it works</h2>
                    <p>
                        <b>1.Registration:</b> Create your account and register your gated community.
                        <br><b>2.Generate Access Codes:</b> When you have a visitor, simply create a temporary access
                        code and specify the duration of access.
                        <br><b>3.Visitor Arrival:</b> Your visitors will receive the access code via the app, allowing
                        them to enter the community during the specified time frame.
                        <br><b>4.Stay Informed:</b> Receive notifications when your visitors arrive and access the
                        community.
                    </p>
                </div> -->
            </main>
            <%- include('footer.ejs') %>
    </body>

</html>